<div id="createUserModal" class="modal">
    <div class="modal-content">
        <span class="close" onclick="closeCreateUserModal()">&times;</span>
        <form class="form-group" action="#" onsubmit="handleCreateFormSubmit(event)" method="POST">
            <div class="form-group">
                <label class="form-label" for="create_first_name">Ime:</label>
                <input class="form-input" type="text" id="create_first_name" name="first_name" required>
            </div>
            <div class="form-group">
                <label class="form-label" for="create_last_name">Prezime:</label>
                <input class="form-input" type="text" id="create_last_name" name="last_name" required>
            </div>
            <div class="form-group">
                <label class="form-label" for="create_jmbg">JMBG:</label>
                <input class="form-input" type="number" id="create_jmbg" name="jmbg" >
            </div>
            <div class="form-group">
                <label class="form-label" for="create_jib">JIB:</label>
                <input class="form-input" type="number" id="create_jib" name="jib" >
            </div>
            <div class="form-group">
                <label class="form-label" for="create_birth_date">Datum rodjenja:</label>
                <input class="form-input" type="date" id="create_birth_date" name="birth_date" >
            </div>
            <div class="form-group">
                <label class="form-label" for="create_phone">Telefon:</label>
                <input class="form-input" type="email" id="create_phone" name="email" >
            </div>
            <div class="form-group">
                <label class="form-label" for="create_email">Email:</label>
                <input class="form-input" type="email" id="create_email" name="email" >
            </div>
            <button class="form-button" type="button" onclick="addUserApi()">Sacuvaj</button>
        </form>
    </div>
</div>

<script>
    function openCreateUserModal() {
        document.getElementById('createUserModal').style.display = 'block';
    }

    function closeCreateUserModal() {
        document.getElementById('createUserModal').style.display = 'none';
    }

    async function addUserApi() {
        const firstName = document.getElementById('create_first_name').value;
        const lastName = document.getElementById('create_last_name').value;
        const jmbg = document.getElementById('create_jmbg').value;
        const birthDate = document.getElementById('create_birth_date').value;
        const phone_number = document.getElementById('create_phone').value;
        const email = document.getElementById('create_email').value;
        const jib = document.getElementById('create_jib').value;

        const response = await fetch('/api/user', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ first_name: firstName, last_name: lastName, jmbg, birth_date: birthDate, email,phone_number, jib })
        });

        if (response.ok) {
            alert('Uspesno dodat korisnik');
            setTimeout(() => {
                window.location.reload();
            }, 1000);
        } else {
            alert('Doslo je do greske');
        }
    }
</script>