<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vozila</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/tables.css">
    <link rel="stylesheet" href="/css/modal.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <h1 class="header">Vozila</h1>

    <button id="openCreateModalBtn" class="form-button" onclick="openCreateCarModal()">Dodaj novo vozilo</button>
    <button id="openCreateProductionOrderModalBtn" class="form-button" onclick="openCreateProductionOrderModal()">Dodaj novu narudzbinu</button>

    <table class="user-table">
        <thead>
            <tr>
                <th>Naziv</th>
                <th>Broj sasije</th>
                <th>Gorivo</th>
                <th>Godina</th>
                <th>Broj motora</th>
                <th>Kilometraza</th>
                <th>Registarski broj</th>
                <th>Napomena</th>
                <th>Akcije</th>
            </tr>
        </thead>
        <tbody id="car-table-body">
            <!-- Rows will be inserted here dynamically -->
        </tbody>
    </table>

    <!-- Include the modal content from addCar.ejs and updateCar.ejs -->
    <%- include('addCar') %>
    <%- include('updateCar') %>
    <!-- Include the modal content from addProductionOrder.ejs -->
    <%- include('../productionOrder/addProductionOrder') %>

    <script>
        const jsonData = JSON.parse(`<%- JSON.stringify(car) %>`);
        console.log(jsonData);

        let selectedCarId = null;

        function renderTable(cars) {
            const tbody = document.getElementById('car-table-body');
            tbody.innerHTML = '';
            cars.forEach(car => {
                const row = `<tr>
                    <td>${car.name}</td>
                    <td>${car.chassis_number}</td>
                    <td>${car.fuel}</td>
                    <td>${car.year}</td>
                    <td>${car.motor_number}</td>
                    <td>${car.mileage}</td>
                    <td>${car.plate_number}</td>
                    <td>${car.note}</td>
                    <td>
                        <i class="fa fa-edit" style="font-size:24px;color: lightgreen; cursor: pointer;" onclick='openUpdateCarModal(${JSON.stringify(car)})'></i>
                        <i class="fa fa-trash-o" style="font-size:24px; color: red;cursor: pointer;" onclick="deleteCar(${car.car_id})"></i>
                        <i class="fa fa-plus" style="font-size:24px; color: blue; cursor: pointer;" onclick="openCreateProductionOrderModal(${car.car_id})"></i>
                    </td>
                </tr>`;
                tbody.innerHTML += row;
            });
        }

        function editCar(car) {
            // Implement edit functionality
            console.log('Edit car:', car);
        }

        async function deleteCar(carId) {
            // Implement delete functionality
            console.log('Delete car with ID:', carId);
            if(confirm('Da li ste sigurno da zelite obrisati vozilo?')){
                const response = await fetch(`/api/car/${carId}`, {
                method: 'DELETE'
            });
            if (response.ok) {
                window.location.reload();
            } else {
                alert('Doslo je do greske');
            }
            }
        }

        function openCreateCarModal() {
            const createModal = document.getElementById("createCarModal");
            createModal.style.display = "block";
        }

        function closeCreateCarModal() {
            const createModal = document.getElementById("createCarModal");
            createModal.style.display = "none";
        }

        function openUpdateCarModal(car) {
            const updateModal = document.getElementById("updateCarModal");
            document.getElementById('update_car_id').value = car.car_id;
            document.getElementById('update_car_name').value = car.name;
            document.getElementById('update_chassis_number').value = car.chassis_number;
            document.getElementById('update_fuel').value = car.fuel;
            document.getElementById('update_year').value = car.year;
            document.getElementById('update_motor_number').value = car.motor_number;
            document.getElementById('update_mileage').value = car.mileage;
            document.getElementById('update_plate_number').value = car.plate_number;
            document.getElementById('update_note').value = car.note;
            updateModal.style.display = "block";
        }

        function closeUpdateCarModal() {
            const updateModal = document.getElementById("updateCarModal");
            updateModal.style.display = "none";
        }

        function openCreateProductionOrderModal(carId) {
            selectedCarId = carId;
            const createProductionOrderModal = document.getElementById("createProductionOrderModal");
            createProductionOrderModal.style.display = "block";
        }

        function closeCreateProductionOrderModal() {
            const createProductionOrderModal = document.getElementById("createProductionOrderModal");
            createProductionOrderModal.style.display = "none";
        }

        async function addProductionOrderApi() {
            const car_id = selectedCarId;
            const user_id = USERID;
            const number = document.getElementById('create_order_number').value;
            const mileage = document.getElementById('create_mileage').value;
            const note = document.getElementById('create_note').value;
            const description = document.getElementById('create_description').value;
            const price = document.getElementById('create_price').value;

            const response = await fetch('/api/productionOrder', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    user_id,
                    car_id,
                    number,
                    mileage,
                    note,
                    description,
                    price
                })
            });

            if (response.ok) {
                alert('Uspesno dodata narudzbina');
                setTimeout(() => {
                    window.location.reload();
                }, 1000);
            } else {
                alert('Doslo je do greske');
            }
        }

        // Initial load
        renderTable(jsonData);

        // Close modals when clicking outside of them
        window.onclick = function(event) {
            const createModal = document.getElementById("createCarModal");
            const updateModal = document.getElementById("updateCarModal");
            const createProductionOrderModal = document.getElementById("createProductionOrderModal");
            if (event.target == createModal) {
                createModal.style.display = "none";
            }
            if (event.target == updateModal) {
                updateModal.style.display = "none";
            }
            if (event.target == createProductionOrderModal) {
                createProductionOrderModal.style.display = "none";
            }
        }
    </script>
</body>

</html>